<r:comment><!-- Pull in content from pages labeled with the slug of the page you want it to show on and the component name --></r:comment>
<r:set_var name="itemLabels">
  <r:page:slug />-<r:var name="componentName" />
</r:set_var>

<r:content_for name="{$componentReadMoreButtonText}">Read More</r:content_for>

<r:set_var name="itemReadMoreButtonText">
  <r:yield name="{$componentReadMoreButtonText}"><r:content /></r:yield>
</r:set_var>

<r:set_var name="columnClasses">
  col-sm-6 col-md-3
</r:set_var>
<r:if v1="{$componentLimit}" v2="1" op="=">
  <r:set_var name="columnClasses">
    col-sm-6
  </r:set_var>
</r:if>
<r:if v1="{$componentLimit}" v2="2" op="=">
  <r:set_var name="columnClasses">
    col-sm-6 col-lg-4
  </r:set_var>
</r:if>
<r:if v1="{$componentLimit}" v2="3" op="=">
  <r:set_var name="columnClasses">
    col-sm-6 col-lg
  </r:set_var>
</r:if>
<r:if v1="{$componentLimit}" v2="4" op="=">
  <r:set_var name="columnClasses">
    col-sm-6 col-lg-4 col-xl
  </r:set_var>
</r:if>
<r:if v1="{$componentLimit}" v2="5" op="=">
  <r:set_var name="columnClasses">
    col-sm-6 col-lg-4 col-xl-3
  </r:set_var>
</r:if>
<r:if v1="{$componentLimit}" v2="6" op="=">
  <r:set_var name="columnClasses">
    col-sm-6 col-lg-4 col-xl-3
  </r:set_var>
</r:if>
<r:if v1="{$componentLimit}" v2="9" op="=">
  <r:set_var name="columnClasses">
    col-sm-6 col-lg-4 col-xl-3
  </r:set_var>
</r:if>

<r:root>
  <r:comment><!-- You can set $loopBy to: "name", "slug", "created_at", "updated_at", "sort_order", "template_name", "published_at", "title", "alternate_name", "meta_description", "content_updated_at";
    and $loopOrder to: "asc" or "desc";
    and $loopLabelsMatch to: "any", "all", or "none". --></r:comment>
  <r:descendants by="{$componentLoopBy}" order="{$componentLoopOrder}" labels="{$itemLabels}" labels_match="{$componentLoopLabelsMatch}" hidden="{$componentShowHidden}">
    <div class="row <r:if v1="{$componentLimit}" v2="2" op="="> d-flex justify-content-center</r:if>">
      <r:comment><!-- Grab the first item in the loop, and display a dummy version of it that accepts button text that will apply to all others items in the featurettes. --></r:comment>
      <r:edit_mode_only>
        <r:each limit="1">
          <div class="<r:var name="columnClasses" /> mb-3 pt-2 mt-2 border border-wvu-accent--red">
            <a class="text-white wvu-grow-shadow" href="<r:if expr="{{ NOT(BLANK(alternate_url)) }}"><r:page:data name="alternate_url" /></r:if><r:if expr="{{ BLANK(alternate_url) }}"><r:page:url /></r:if>">
              <div class="card bg-dark text-white shadow wvu-bg-vignetting">
                <r:if expr="{{ NOT(BLANK(thumbnail_url)) }}">
                  <img src="<r:page:data name="thumbnail_url" />/381x255.jpg" srcset="<r:page:data name="thumbnail_url" />/960x640.jpg 960w, <r:page:data name="thumbnail_url" />/586x286.jpg 586w, <r:page:data name="thumbnail_url" />/381x255.jpg 381w, <r:page:data name="thumbnail_url" />/286x191.jpg 286w, <r:page:data name="thumbnail_url" />/279x186.jpg 279w, <r:page:data name="thumbnail_url" />/217x145.jpg 217w" sizes="(min-width: 1200px) 279px, (min-width: 768px) 586px, 960px" alt="<r:page:data name="thumbnail_alt" />">
                </r:if>
                <div class="card-img-overlay">
                  <h3 class="card-title wvu-shout text-wvu-gold"><r:page:first_non_blank_attr names="alternate_name,name" /></h3>
                  <p class="card-text"><small class="d-block">
                    <r:if expr="{{ NOT(BLANK(description)) }}"><r:page:data name="description" /></r:if>
                    <r:if expr="{{ BLANK(description) }}">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</r:if></small>
                  </p>
                </div>
              </div>
            </a>
          </div>
        </r:each>
      </r:edit_mode_only>
      <r:comment><!-- Grab all of the items in the loop. --></r:comment>
      <r:each limit="{$limit}">
        <r:set_var name="contentIndex">
          <r:index />
        </r:set_var>
        <r:comment><!-- Hide the first item in edit mode so that the template above displays in its place. --></r:comment>
        <r:if v1="{$componentLimit}" v2="1" op="!=">
          <div class="<r:var name="columnClasses" /> mb-3 <r:edit_mode_only><r:if v1="{$contentIndex}" v2="1" op="=">d-none</r:if></r:edit_mode_only>">
        </r:if>
          <a class="text-white wvu-grow-shadow" href="<r:if expr="{{ NOT(BLANK(alternate_url)) }}"><r:page:data name="alternate_url" /></r:if><r:if expr="{{ BLANK(alternate_url) }}"><r:page:url /></r:if>">
            <div class="card bg-dark text-white shadow wvu-bg-vignetting">
              <r:if expr="{{ NOT(BLANK(thumbnail_url)) }}">
                <img src="<r:page:data name="thumbnail_url" />/381x255.jpg" srcset="<r:page:data name="thumbnail_url" />/960x640.jpg, <r:page:data name="thumbnail_url" />/586x286.jpg, <r:page:data name="thumbnail_url" />/381x255.jpg, <r:page:data name="thumbnail_url" />/286x191.jpg, <r:page:data name="thumbnail_url" />/279x186.jpg, <r:page:data name="thumbnail_url" />/217x145.jpg" sizes="960px, (min-width: 768px) 586px" alt="<r:page:data name="thumbnail_alt" />">
              </r:if>
              <div class="card-img-overlay">
                <div class="wvu-z-index-content">
                  <h3 class="card-title wvu-shout text-wvu-gold"><r:page:first_non_blank_attr names="alternate_name,name" /></h3>
                  <p class="card-text"><small class="d-block">
                    <r:if expr="{{ NOT(BLANK(description)) }}"><r:page:data name="description" /></r:if>
                    <r:if expr="{{ BLANK(description) }}">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</r:if></small>
                  </p>
                </div>
              </div>
            </div>
          </a>
        <r:if v1="{$componentLimit}" v2="1" op="!=">
          </div>
        </r:if>
      </r:each>
    </div>
  </r:descendants>
</r:root>
