<div class="row">
  <r:comment><!-- Grab all of the items in the loop. --></r:comment>
  <r:loop:each times="{$componentLimit}">
    <r:set_var name="componentPanel">featurettes-panel-<r:item /></r:set_var>
    <r:comment><!-- Hide the first item in edit mode so that the template above displays in its place. --></r:comment>
    <r:set_var name="columnClasses">
      col-sm-6 col-md-3
    </r:set_var>
    <r:if v1="{$componentLimit}" v2="1" op="=">
      <r:set_var name="columnClasses">
        col
      </r:set_var>
    </r:if>
    <r:if v1="{$componentLimit}" v2="2" op="=">
      <r:set_var name="columnClasses">
        col-sm-6 col-md-4
      </r:set_var>
    </r:if>
    <r:if v1="{$componentLimit}" v2="3" op="=">
      <r:set_var name="columnClasses">
        col-sm-6 col-md
      </r:set_var>
    </r:if>
    <r:if v1="{$componentLimit}" v2="4" op="=">
      <r:set_var name="columnClasses">
        col-sm-6 col-md
      </r:set_var>
    </r:if>
    <r:if v1="{$componentLimit}" v2="5" op="=">
      <r:set_var name="columnClasses">
        col-sm-6 col-md-4 col-lg-3
      </r:set_var>
    </r:if>
    <r:if v1="{$componentLimit}" v2="6" op="=">
      <r:set_var name="columnClasses">
        col-sm-6 col-md-4
      </r:set_var>
    </r:if>
    <r:if v1="{$componentLimit}" v2="9" op="=">
      <r:set_var name="columnClasses">
        col-sm-6 col-md-4
      </r:set_var>
    </r:if>
    <div class="<r:var name="columnClasses" /> mb-3">
      <r:comment><!-- Grab all of the items in the loop. --></r:comment>
      <r:each limit="{$componentLimit}">
        <r:set_var name="componentDisplayContext" value="{$componentPanel}" /><!-- Should actually be sidebar 1, 2, 3, etc. -->
        <r:partial name="utilities/wvu-slots" theme="University Relations: WVU Design System Components" />
        <r:comment><!-- We need to reset our variables back to those of the parent component. Else the new component will change those of the parent, screwing subsequent variable references. --></r:comment>
        <r:set_var name="baseComponentName" value="featurettes" />
        <r:partial name="includes/wvu-component-variables" theme="University Relations: WVU Design System Components" />
      </r:each>
    </div>
  </r:loop:each>
</div>
