<r:comment><!-- Pull in content from pages labeled with the slug of the page you want it to show on and the component name --></r:comment>
<r:set_var name="itemLabels">
  <r:page:slug />-<r:var name="componentName" />
</r:set_var>

<r:root>
  <r:comment><!-- You can set $loopBy to: "name", "slug", "created_at", "updated_at", "sort_order", "template_name", "published_at", "title", "alternate_name", "meta_description", "content_updated_at";
    and $loopOrder to: "asc" or "desc";
    and $loopLabelsMatch to: "any", "all", or "none". --></r:comment>
  <r:descendants by="{$componentLoopBy}" order="{$componentLoopOrder}" labels="{$itemLabels}" labels_match="{$componentLoopLabelsMatch}" hidden="{$componentShowHidden}">
    <r:set_var name="itemCount">
      <r:count />
    </r:set_var>
    <r:set_var name="columnClasses">
      col-sm-6 col-md-3
    </r:set_var>
    <r:if v1="{$componentLimit}" v2="1" op="=">
      <r:set_var name="columnClasses">
        col-sm-6
      </r:set_var>
    </r:if>
    <r:if v1="{$componentLimit}" v2="2" op="=">
      <r:set_var name="columnClasses">
        col-sm-6 col-md-4
      </r:set_var>
    </r:if>
    <r:if v1="{$componentLimit}" v2="3" op="=">
      <r:set_var name="columnClasses">
        col-sm-6 col-md
      </r:set_var>
    </r:if>
    <r:if v1="{$componentLimit}" v2="4" op="=">
      <r:set_var name="columnClasses">
        col-sm-6 col-md
      </r:set_var>
    </r:if>
    <r:if v1="{$componentLimit}" v2="5" op="=">
      <r:set_var name="columnClasses">
        col-sm-6 col-md-4 col-lg-3
      </r:set_var>
    </r:if>
    <r:if v1="{$componentLimit}" v2="6" op="=">
      <r:set_var name="columnClasses">
        col-sm-6 col-md-4
      </r:set_var>
    </r:if>
    <r:if v1="{$componentLimit}" v2="9" op="=">
      <r:set_var name="columnClasses">
        col-sm-6 col-md-4
      </r:set_var>
    </r:if>
    <div class="row <r:if v1="{$componentLimit}" v2="2" op="<="> d-flex justify-content-center</r:if>">
      <r:comment><!-- Grab all of the items in the loop. --></r:comment>
      <r:each limit="{$limit}">
        <r:set_var name="contentIndex">
          <r:index />
        </r:set_var>
        <div class="<r:var name="columnClasses" /> mb-3">
          <div class="card shadow-sm h-100 bg-white">
            <div class="pt-1 h-100 bg-wvu-gold">
              <div class="card-body bg-white h-100">
                <h3 class="card-title helvetica-neue-bold"><r:page:first_non_blank_attr names="alternate_name,name" /></h3>
                <p class="helvetica-neue-light"><r:page:data name="degree_type" /></p>
                <p>
                  <r:if expr="{{ NOT(BLANK(description)) }}"><r:page:data name="description" /></r:if>
                  <r:if expr="{{ BLANK(description) }}">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</r:if>
                </p>
                <r:if expr="{{ NOT(BLANK(program_page_url)) }}">
                  <a class="btn btn-sm btn-primary" href="<r:page:data name="program_page_url" />">View Program Page</a>
                </r:if>
                <r:if expr="{{ NOT(BLANK(major_map_url)) }}">
                  <a class="btn btn-sm btn-primary" href="<r:page:data name="major_map_url" />">View Major Map</a>
                </r:if>
              </div>
            </div>
          </div>
        </div>
      </r:each>
    </div>
  </r:descendants>
</r:root>
