<r:comment><!-- Provide a base name for this component. We can use this later to dynamically create things like editable region names --></r:comment>
<r:set_var name="baseComponentName" value="twitter-widget" />

<r:comment><!-- Pull in component name, instance number, scope, etc. We will use these bits to dynamically define things like editable region names. --></r:comment>
<r:partial name="includes/wvu-component-variables" theme="University Relations: WVU Design System Components" />

<r:comment><!-- Define editable region names --></r:comment>
<r:set_var name="componentHeader">wvu-twitter-widget-<r:var name="componentInstance" />__header</r:set_var>

<r:comment><!-- Suggestions for what utility classes to assign to this components’s stylable elements. These will also be applied by default if the content editor does not apply her own. --></r:comment>
<r:content_for name="{$defaultComponentClasses}">bg-wvu-neutral--dark-gray text-white py-5 wvu-bg-position-center wvu-bg-blend-mode-luminosity--90</r:content_for>

<r:comment><!-- Content that gets pulled into the editable regions by default. Normally you don’t need to do this. I’m doing this so I can keep default content for each region in one palce, then pull it into the WVU Design System demo site. If you want to make a copy of this component, you can delete the following “content_for” lines and replace the “yield” snippets in the markup with the actual content. --></r:comment>
<r:content_for name="{$componentHeader}"><h2 id="<r:var name="componentName" />-label" class="display-3 wvu-shout">Featurettes Headline</h2>
        <p class="h3 helvetica-neue-light">Subhead goes here.</p></r:content_for>

<!-- Markup --><<r:partial name="utilities/wvu-is-main-checker" theme="University Relations: WVU Design System Components" /> aria-labelledby="<r:var name="componentName" />-label" class="py-5 <r:partial name="utilities/wvu-component-classes-checker" theme="University Relations: WVU Design System Components" />" <r:partial name="utilities/wvu-bg-styler" theme="University Relations: WVU Design System Components" />>
  <div class="container wvu-z-index-content">
    <r:if v1="{page:template:name}" v2="{$templateNameComponent}" op="=">
      <div class="wvu-z-index-content mb-4">
        <r:page:if_has_content_for region="{$itemHeaderRegionNameH2}"><r:page:content name="{$itemHeaderRegionNameH2}" /></r:page:if_has_content_for><r:page:unless_has_content_for region="{$itemHeaderRegionNameH2}"><r:yield name="{$componentHeader}"><r:content /></r:yield></r:page:unless_has_content_for>
      </div>
    </r:if>
    <r:if v1="{page:template:name}" v2="{$templateNameComponent}" op="!=">
      <div class="wvu-z-index-content mb-4">
        <r:page:if_has_content_for region="{$componentHeader}" always_show_in_edit_mode="true">
          <r:editable_region name="{$componentHeader}" scope="{$componentScope}">
            <r:yield name="{$componentHeader}" />
          </r:editable_region>
        </r:page:if_has_content_for>
      </div>
    </r:if>
    <div id="exampleProfile"></div>
    <div class="text-center">
      <a href="https://twitter.com/<r:site:data name="twitter_handle" />" class="fab fa-twitter text-black mt-4 h3">
        <span class="helvetica-neue-light"><r:site:data name="twitter_handle" /></span>
      </a>
    </div>
  </div>
</<r:partial name="utilities/wvu-is-main-checker" theme="University Relations: WVU Design System Components" />><!-- End markup -->

<r:comment><!-- Pull in partial that allows user to edit classes for component in CleanSlate editor --></r:comment>
<r:if v1="{page:template:name}" v2="{$templateNameComponent}" op="!=">
  <r:partial name="includes/wvu-component-footer" theme="University Relations: WVU Design System Components" />
</r:if>

<r:content_for name="page_js">
  <r:include_javascript name="vendor/twitterFetcher" />

  <script type="text/javascript" defer>
    // ##### Simple example 1 #####
    // A simple example to get my latest tweet and write to a HTML element with
    // id "example1". Also automatically hyperlinks URLS and user mentions and
    // hashtags.
    var configProfile = {
      "profile": {"screenName": '<r:site:data name="twitter_handle" />'},
      "domId": 'exampleProfile',
      "maxTweets": 4,
      "enableLinks": true,
      "showUser": false,
      "showTime": true,
      "showImages": false,
      "showInteraction": false,
      "lang": 'en'
    };
    twitterFetcher.fetch(configProfile);
  </script>
</r:content_for>
