<r:comment><!-- Provide a base name for this component. We can use this later to dynamically create things like editable region names --></r:comment>
<r:set_var name="baseComponentName" value="faculty-profile" />

<r:comment><!-- Pull in component name, instance number, scope, etc. We will use these bits to dynamically define things like editable region names. --></r:comment>
<r:partial name="includes/wvu-component-variables" theme="University Relations: WVU Design System Components" />

<r:comment><!-- Define editable region names --></r:comment>
<r:set_var name="componentMain">wvu-<r:var name="componentName" />__main</r:set_var>
<r:set_var name="componentSidebarTop">wvu-<r:var name="componentName" />__sidebar-top</r:set_var>
<r:set_var name="componentFigure">wvu-<r:var name="componentName" />__figure</r:set_var>
<r:set_var name="componentFigcaption">wvu-<r:var name="componentName" />__figcaption</r:set_var>
<r:set_var name="componentPhone">wvu-<r:var name="componentName" />__phone</r:set_var>
<r:set_var name="componentEmail">wvu-<r:var name="componentName" />__email</r:set_var>
<r:set_var name="componentOffice">wvu-<r:var name="componentName" />__office</r:set_var>
<r:set_var name="componentOfficeURL">wvu-<r:var name="componentName" />__office-url</r:set_var>
<r:set_var name="componentWebsite">wvu-<r:var name="componentName" />__website</r:set_var>
<r:set_var name="componentDownload">wvu-<r:var name="componentName" />__download</r:set_var>

<r:comment><!-- Suggestions for what utility classes to assign to this components’s stylable elements. These will also be applied by default if the content editor does not apply her own. --></r:comment>
<r:content_for name="{$defaultComponentClasses}"></r:content_for>

<r:comment><!-- Content that gets pulled into the editable regions by default. Normally you don’t need to do this. I’m doing this so I can keep default content for each region in one palce, then pull it into the WVU Design System demo site. If you want to make a copy of this component, you can delete the following “content_for” lines and replace the “yield” snippets in the markup with the actual content. --></r:comment>
<r:content_for name="{$componentMain}"><p>Personal development push back. Value prop upsell we need to leverage our
        synergies. Gain traction good optics we need to socialize the comms with
        the wider stakeholder community wheelhouse. Sea change closing these latest
        prospects is like putting socks on an octopus knowledge process outsourcing.
        Guerrilla marketing what's the status on the deliverables for eow?</p>
      <p>Programmatically i’ve been doing some research this morning and we need to
        better granularity where do we stand on the latest client ask, for imagineer
        my capacity is full for we've got to manage that low hanging fruit. Please
        advise soonest not the long pole in my tent circle back. Not the long pole
        in my tent if you want to motivate these clowns, try less carrot and more
        stick we have put the apim bol, temporarily so that we can later put the
        monitors on moving the goalposts your work on this project has been really
        impactful please use "solutionise" instead of solution ideas! :). Upsell. </p>
      <p>Organic growth. Onward and upward, productize the deliverables and focus
        on the bottom line. Get buy-in future-proof product management breakout
        fastworks bells and whistles we just need to put these last issues to bed.
        Face time take five, punch the tree, and come back in here with a clear
        head. Quick win beef up. Low-hanging fruit work flows , nor window-licker,
        but high performance keywords and dog and pony show.
      </p></r:content_for>
<r:content_for name="{$componentSidebarTop}"><p class="helvetica-neue-light h5 mb-3">Who's responsible for the ask for this request? we need to button up our
        approach streamline. Run it up the flag pole I just wanted to give you
        a heads-up translating our vision of having a market leading platfrom yet
        we need to button up our approach dogpile that.</p></r:content_for>
<r:content_for name="{$componentFigure}"><img alt="Placeholder" src="https://via.placeholder.com/1200x800" /></r:content_for>
<r:content_for name="{$componentFigcaption}">Globalize. Work we need to have a Come to Jesus meeting with Phil about
        his attitude wheelhouse churning anomalies.</r:content_for>

<!-- Markup --><<r:partial name="utilities/wvu-is-main-checker" theme="University Relations: WVU Design System Components" /> aria-labelledby="<r:var name="componentName" />-label" class="py-5 <r:partial name="utilities/wvu-component-classes-checker" theme="University Relations: WVU Design System Components" />" <r:partial name="utilities/wvu-bg-styler" theme="University Relations: WVU Design System Components" />>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <r:if v1="{page:template:name}" v2="{$templateNameComponent}" op="=">
          <r:yield name="{$componentFigure}" />
          <figcaption>
            <small class="d-block">
              <r:yield name="{$componentFigcaption}" />
            </small>
          </figcaption>
        </r:if>
        <r:if v1="{page:template:name}" v2="{$templateNameComponent}" op="!=">
          <r:page:if_has_content_for region="{$componentFigure}" always_show_in_edit_mode="true">
            <r:editable_region name="{$componentFigure}"><r:yield name="{$componentFigure}" /></r:editable_region>
            <r:page:if_has_content_for region="{$componentFigcaption}" always_show_in_edit_mode="true">
              <figcaption>
                <small class="d-block">
                  <r:editable_region name="{$componentFigcaption}"><r:yield name="{$componentFigCaption}" /></r:editable_region>
                </small>
              </figcaption>
            </r:page:if_has_content_for>
          </r:page:if_has_content_for>
        </r:if>
      </div>
      <div class="col-md-4">
        <r:if v1="{page:template:name}" v2="{$templateNameComponent}" op="=">
          <r:yield name="{$componentSidebarTop}" />
        </r:if>
        <r:if v1="{page:template:name}" v2="{$templateNameComponent}" op="!=">
          <r:editable_region name="{$componentSidebarTop}"><r:yield name="{$componentSidebarTop}" /></r:editable_region>
        </r:if>
        <p>
          <r:partial name="includes/wvu-contact-info" theme="University Relations: WVU Design System Components" />
        </p>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-2">

      </div>
      <div class="col-md-8 col-xl-6 mr-md-auto">
        <r:if v1="{page:template:name}" v2="{$templateNameComponent}" op="=">
          <r:yield name="{$componentMain}" />
        </r:if>
        <r:if v1="{page:template:name}" v2="{$templateNameComponent}" op="!=">
          <r:editable_region name="{$componentMain}"><r:yield name="{$componentMain}" /></r:editable_region>
        </r:if>
      </div>
    </div>
  </div>
  </<r:partial name="utilities/wvu-is-main-checker" theme="University Relations: WVU Design System Components" />><!-- End markup -->

  <r:comment><!-- Pull in partial that allows user to edit classes for component in CleanSlate editor --></r:comment>
  <r:if v1="{page:template:name}" v2="{$templateNameComponent}" op="!=">
    <r:partial name="includes/wvu-component-footer" theme="University Relations: WVU Design System Components" />
  </r:if>
