<r:comment><!-- Provide a base name for this component. We can use this later to dynamically create things like editable region names --></r:comment>
<r:set_var name="baseComponentName" value="big-search" />

<r:comment><!-- Pull in component name, instance number, scope, etc. We will use these bits to dynamically define things like editable region names. --></r:comment>
<r:partial name="includes/wvu-component-variables" theme="University Relations: WVU Design System Components" />

<r:comment><!-- Define editable region names --></r:comment>
<r:set_var name="componentHeader">wvu-action-hero-<r:var name="componentInstance" />__header</r:set_var>
<r:set_var name="componentMain">wvu-action-hero-<r:var name="componentInstance" />__main</r:set_var>
<r:set_var name="componentPostscript">wvu-action-hero-<r:var name="componentInstance" />__postscript</r:set_var>

<r:comment><!-- Suggestions for what utility classes to assign to this components’s container. These will also be applied by default if the content editor does not apply her own. --></r:comment>
<r:content_for name="{$defaultComponentClasses}">text-center wvu-bg-pattern-gold text-wvu-blue</r:content_for>

<r:comment><!-- Suggestions for what utility classes to assign to this component. These will also be applied by default if the content editor does not apply her own. --></r:comment>
<r:content_for name="{$defaultHeaderClasses}">display-2 wvu-shout mb-3</r:content_for>

<r:comment><!-- The editable region name that will be used to enter classes on this components <h1> element. --></r:comment>
<r:set_var name="headerClasses">
  wvu-<r:var name="componentName" />-header-classes
</r:set_var>

<r:comment><!-- Content that gets pulled into the editable regions by default. --></r:comment>
<r:content_for name="{$componentHeader}">Big Search Header</r:content_for>
<r:content_for name="{$componentMain}"><p class="helvetica-neue-light h3">Type your search term below.</p></r:content_for>
<r:content_for name="{$componentPostscript}"><p>Not sure what to search for? Browse our <a href="#">categories</a>.</p></r:content_for>

<!-- Markup --><<r:partial name="utilities/wvu-is-main-checker" theme="University Relations: WVU Design System Components" /> aria-labelledby="<r:var name="componentName" />-label" class="py-5 <r:partial name="utilities/wvu-component-classes-checker" theme="University Relations: WVU Design System Components" />" <r:partial name="utilities/wvu-bg-styler" theme="University Relations: WVU Design System Components" />">
  <div class="container wvu-z-index-content">
    <r:if v1="{page:template:name}" v2="{$templateNameComponent}" op="=">
      <r:comment><!-- For the h1, apply an ID that will tell screanreaders to use this element as the label for the section. --></r:comment>
      <h2 id="<r:var name="componentName" />-label" class="<r:page:if_has_content_for region="{$itemHeaderClassesRegionName}"><r:page:content name="{$itemHeaderClassesRegionName}" /></r:page:if_has_content_for><r:page:unless_has_content_for region="{$itemHeaderClassesRegionName}"><r:yield name="{$defaultHeaderClasses}"><r:content /></r:yield></r:page:unless_has_content_for>">
        <r:page:unless_has_content_for region="{$itemHeaderRegionName}"><r:yield name="{$componentHeader}"><r:content /></r:yield></r:page:unless_has_content_for><r:page:content name="{$itemHeaderRegionName}" />
      </h2>
      <div class="mb-3">
        <r:yield name="{$componentMain}"><r:content /></r:yield>
      </div>
    </r:if>
    <r:comment><!-- This is the code that will be used for any site other than the WVU Design System website. --></r:comment>
    <r:if v1="{page:template:name}" v2="{$templateNameComponent}" op="!=">
      <r:comment><!-- This uses a variable to define the name of the editable region. In the Super Theme, this is defined dynamically. If you are making a custom theme, and want to reference this partial more than once in the same tempalte, you will need to define an instance number (set_var name="componentInstance" value="something") when you insert each partial. --></r:comment>
      <r:edit_mode_only>
        <small class="wvu-z-index-content d-block mb-2 text-muted p-1 bg-wvu-neutral--dark-gray">Header classes:
          <pre class="mb-0 text-white"><r:editable_region name="{$headerClasses}" type="simple" /></pre>
          <strong class="text-muted">Default classes:</strong> <pre class="mb-0 text-muted"><r:yield name="{$defaultHeaderClasses}"><r:content /></r:yield></pre>
        </small>
      </r:edit_mode_only>
      <r:comment><!-- For the h1, apply an ID that will tell screanreaders to use this element as the label for the section --></r:comment>
      <h2 id="<r:var name="componentName" />-label" class="<r:page:if_has_content_for region="{$headerClasses}"><r:page:content name="{$headerClasses}" /></r:page:if_has_content_for><r:page:unless_has_content_for region="{$headerClasses}"><r:yield name="{$defaultHeaderClasses}"><r:content /></r:yield></r:page:unless_has_content_for>"><r:editable_region name="{$componentHeader}" scope="{$componentScope}" type="simple"><r:yield name="{$componentHeader}"><r:content /></r:yield></r:editable_region></h2>
      <r:page:if_has_content_for region="{$componentMain}" always_show_in_edit_mode="true">
        <div class="mb-3">
          <r:editable_region name="{$componentMain}" scope="{$componentScope}"><r:yield name="{$componentMain}"><r:content /></r:yield></r:editable_region>
        </div>
      </r:page:if_has_content_for>
    </r:if>
    <div class="row d-flex justify-content-center mb-3">
      <div class="col-md-6 mx-auto">
        <div class="row mb-2">
          <div class="col-md-12">
            <form class="form-inline w-100" action="//search.wvu.edu/search" method="get" role="search">
              <label for="q">
                <span class="sr-only">Search</span>
              </label>
              <input id="sort" name="sort" type="hidden" value="date:D:L:d1">
              <input id="output" name="output" type="hidden" value="xml_no_dtd">
              <input id="ie" name="ie" type="hidden" value="UTF-8">
              <input id="oe" name="oe" type="hidden" value="UTF-8">
              <input id="proxystylesheet" name="proxystylesheet" type="hidden" value="default_frontend">
              <input id="client" name="client" type="hidden" value="default_frontend">
              <div class="input-group shadow-sm w-100">
                <input id="q" class="form-control p-3 h1" name="q" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                  <button class="btn btn-primary px-3 px-lg-4" name="btnG" type="submit">
                    <span class="fas fa-search h4 mb-0">
                      <span class="sr-only">Search</span>
                    </span>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <r:if v1="{page:template:name}" v2="{$templateNameComponent}" op="=">
      <r:page:unless_has_content_for region="{$itemPostscriptRegionName}"><r:yield name="{$componentPostscript}"><r:content /></r:yield></r:page:unless_has_content_for><r:page:content name="{$itemPostscriptRegionName}" />
    </r:if>
    <r:comment><!-- This is the code that will be used for any site other than the WVU Design System website. --></r:comment>
    <r:if v1="{page:template:name}" v2="{$templateNameComponent}" op="!=">
      <r:editable_region name="{$componentPostscript}" scope="{$componentScope}"><r:yield name="{$componentPostscript}"><r:content /></r:yield></r:editable_region>
    </r:if>
  </div>
</<r:partial name="utilities/wvu-is-main-checker" theme="University Relations: WVU Design System Components" />><!-- End markup -->

<r:comment><!-- Pull in partial that allows user to edit classes for component in CleanSlate editor --></r:comment>
<r:if v1="{page:template:name}" v2="{$templateNameComponent}" op="!=">
  <r:partial name="includes/wvu-component-footer" theme="University Relations: WVU Design System Components" />
</r:if>
