<r:comment><!-- Provide a base name for this component. We can use this later to dynamically create things like editable region names --></r:comment>
<r:set_var name="baseComponentName" value="quicklinks" />

<r:comment><!-- Pull in component name, instance number, scope, etc. We will use these bits to dynamically define things like editable region names. --></r:comment>
<r:partial name="includes/wvu-component-variables" theme="University Relations: WVU Design System Components" />

<r:comment><!-- Define editable region names --></r:comment>
<r:set_var name="componentHeader">wvu-<r:var name="componentName" />__header</r:set_var>
<r:set_var name="componentMain">wvu-<r:var name="componentName" />__main</r:set_var>
<r:set_var name="componentPostscript">wvu-<r:var name="componentPostscript" />__main</r:set_var>
<r:set_var name="headerClasses">wvu-<r:var name="componentName" />-header-classes</r:set_var>

<r:comment><!-- Suggestions for what utility classes to assign to this components’s stylable elements. These will also be applied by default if the content editor does not apply her own. --></r:comment>
<r:content_for name="{$defaultComponentClasses}">text-wvu-blue wvu-bg-pattern-gold</r:content_for>
<r:content_for name="{$defaultHeaderClasses}">wvu-shout</r:content_for>

<r:comment><!-- Content that gets pulled into the editable regions by default. Normally you don’t need to do this. I’m doing this so I can keep default content for each region in one palce, then pull it into the WVU Design System demo site. If you want to make a copy of this component, you can delete the following “content_for” lines and replace the “yield” snippets in the markup with the actual content. --></r:comment>
<r:content_for name="{$componentHeader}">Quicklinks</r:content_for>
<r:content_for name="{$componentMain}"><ul class="list-unstyled wvu-column-count-3">
        <li>
          <a class="text-wvu-blue" href="https://housing.wvu.edu/apply-for-housing">Apply for Housing</a>
        </li>
        <li>
          <a class="text-wvu-blue" href="https://admissions.wvu.edu/how-to-apply">Apply to WVU</a>
        </li>
        <li>
          <a class="text-wvu-blue" href="https://studentaccounts.wvu.edu/billing">Billing / Pay Tuition</a>
        </li>
        <li>
          <a class="text-wvu-blue" href="http://wvu.bncollege.com/">Bookstore</a>
        </li>
        <li>
          <a class="text-wvu-blue" href="https://provost.wvu.edu/academic-calendar">Calendar (Academic)</a>
        </li>
        <li>
          <a class="text-wvu-blue" href="https://calendar.wvu.edu/">Calendar (Main)</a>
        </li>
        <li>
          <a class="text-wvu-blue" href="https://visit.wvu.edu/tours">Campus Tours</a>
        </li>
        <li>
          <a class="text-wvu-blue" href="https://star.wvu.edu/pls/starprod/bwckschd.p_disp_dyn_sched">Course Schedule</a>
        </li>
        <li>
          <a class="text-wvu-blue" href="http://catalog.wvu.edu/">Courses</a>
        </li>
        <li>
          <a class="text-wvu-blue" href="https://diningservices.wvu.edu/menus">Dining Menus</a>
        </li>
        <li>
          <a class="text-wvu-blue" href="https://directory.wvu.edu/">Directory</a>
        </li>
        <li>
          <a class="text-wvu-blue" href="https://ecampus.wvu.edu/">eCampus</a>
        </li>
        <li>
          <a class="text-wvu-blue" href="https://studentaccounts.wvu.edu/refunds">Get Your Refund</a>
        </li>
        <li>
          <a class="text-wvu-blue" href="https://graduateadmissions.wvu.edu/academics/graduate-programs">Graduate Programs</a>
        </li>
        <li>
          <a class="text-wvu-blue" href="https://it.wvu.edu/">Information Technology Services</a>
        </li>
        <li>
          <a class="text-wvu-blue" href="https://lib.wvu.edu/">Libraries</a>
        </li>
        <li>
          <a class="text-wvu-blue" href="https://www.wvu.edu/academics/programs">Majors</a>
        </li>
        <li>
          <a class="text-wvu-blue" href="https://wvu.teamdynamix.com/TDClient/KB/ArticleDet?ID=39990">Mounty Bounty Deposits</a>
        </li>
      </ul></r:content_for>
<r:content_for name="{$componentPostscript}"><p class="mb-0">View <a href="#">all quicklinks</a>.</p></r:content_for>

<!-- Markup --><<r:partial name="utilities/wvu-is-main-checker" theme="University Relations: WVU Design System Components" /> aria-labelledby="<r:var name="componentName" />-label" class="jumbotron jumbotron-fluid mb-0 wvu-overflow-hidden wvu-background-size-cover <r:partial name="utilities/wvu-component-classes-checker" theme="University Relations: WVU Design System Components" />" <r:partial name="utilities/wvu-bg-styler" theme="University Relations: WVU Design System Components" />>
  <div class="container wvu-z-index-content">
    <div class="row">
      <div class="col-lg-4">
        <r:if v1="{page:template:name}" v2="{$templateNameComponent}" op="=">
          <h2 id="<r:var name="componentName" />-label" class="<r:page:if_has_content_for region="{$headerClasses}"><r:page:content name="{$headerClasses}" /></r:page:if_has_content_for><r:page:unless_has_content_for region="{$headerClasses}"><r:yield name="{$defaultHeaderClasses}"><r:content /></r:yield></r:page:unless_has_content_for>">
            <r:yield name="{$componentHeader}" />
          </h2>
        </r:if>
        <r:if v1="{page:template:name}" v2="{$templateNameComponent}" op="!=">
          <r:edit_mode_only>
            <small class="wvu-z-index-content d-block mb-2 text-left text-muted p-1 bg-wvu-neutral--dark-gray">Header classes:
              <pre class="mb-0 text-white"><r:editable_region name="{$headerClasses}" type="simple" /></pre>
              <strong class="text-muted">Default classes:</strong> <pre class="mb-0 text-muted"><r:yield name="{$defaultHeaderClasses}"><r:content /></r:yield></pre>
            </small>
          </r:edit_mode_only>
          <r:comment><!-- For the h1, apply an ID that will tell screanreaders to use this element as the label for the section --></r:comment>
          <h2 id="<r:var name="componentName" />-label" class="<r:page:if_has_content_for region="{$headerClasses}"><r:page:content name="{$headerClasses}" /></r:page:if_has_content_for><r:page:unless_has_content_for region="{$headerClasses}"><r:yield name="{$defaultHeaderClasses}"><r:content /></r:yield></r:page:unless_has_content_for>">
            <r:editable_region name="{$componentHeader}" scope="{$componentScope}" type="simple"><r:yield name="{$componentHeader}"><r:content /></r:yield></r:editable_region>
          </h2>
        </r:if>
      </div>
      <div class="col-lg-8">
        <r:if v1="{page:template:name}" v2="{$templateNameComponent}" op="=">
          <r:yield name="{$componentMain}" />
        </r:if>
        <r:if v1="{page:template:name}" v2="{$templateNameComponent}" op="!=">
          <r:editable_region name="{$componentMain}" scope="{$componentScope}"><r:yield name="{$componentMain}" /></r:editable_region>
        </r:if>
      </div>
    </div>
    <r:if v1="{page:template:name}" v2="{$templateNameComponent}" op="=">
      <div class="mt-2 wvu-z-index-content">
        <div class="wvu-z-index-content mb-2">
          <r:yield name="{$componentPostscript}"><r:content /></r:yield>
        </div>
      </div>
    </r:if>
    <r:if v1="{page:template:name}" v2="{$templateNameComponent}" op="!=">
      <r:page:if_has_content_for region="{$componentPostscript}" always_show_in_edit_mode="true">
        <div class="mt-2 wvu-z-index-content">
          <div class="wvu-z-index-content mb-2">
            <r:editable_region name="{$componentPostscript}" scope="{$componentScope}">
              <r:yield name="{$componentPostscript}"><r:content /></r:yield>
            </r:editable_region>
          </div>
        </div>
      </r:page:if_has_content_for>
    </r:if>
  </div>
</<r:partial name="utilities/wvu-is-main-checker" theme="University Relations: WVU Design System Components" />><!-- End markup -->

<r:comment><!-- Pull in partial that allows user to edit classes for component in CleanSlate editor --></r:comment>
<r:if v1="{page:template:name}" v2="{$templateNameComponent}" op="!=">
  <r:partial name="includes/wvu-component-footer" theme="University Relations: WVU Design System Components" />
</r:if>
