<r:comment><!-- Provide a base name for this component. We can use this later to dynamically create things like editable region names --></r:comment>
<r:set_var name="baseComponentName" value="action-hero-two-column" />

<r:comment><!-- Pull in component name, instance number, scope, etc. We will use these bits to dynamically define things like editable region names. --></r:comment>
<r:partial name="includes/wvu-component-variables" theme="University Relations: WVU Design System Components" />

<r:comment><!-- Define editable region names --></r:comment>
<r:set_var name="componentHeader">wvu-action-hero-two-column<r:var name="componentInstance" />__header</r:set_var>
<r:set_var name="componentMain">wvu-action-hero-two-column<r:var name="componentInstance" />__main</r:set_var>

<r:comment><!-- Suggestions for what utility classes to assign to this components’s container. These will also be applied by default if the content editor does not apply her own. --></r:comment>
<r:content_for name="{$defaultComponentClasses}">bg-wvu-neutral--black text-white wvu-bg-vignetting</r:content_for>

<r:comment><!-- Suggestions for what utility classes to assign to this component. These will also be applied by default if the content editor does not apply her own. --></r:comment>
<r:content_for name="{$defaultHeaderClasses}">display-2 wvu-shout</r:content_for>

<r:comment><!-- The editable region name that will be used to enter classes on this components <h1> element. --></r:comment>
<r:set_var name="headerClasses">
  wvu-<r:var name="componentName" />-header-classes
</r:set_var>

<r:comment><!-- Content that gets pulled into the editable regions by default. --></r:comment>
<r:content_for name="{$componentHeader}"><span class="clearfix">It Starts</span>
          <span class="text-wvu-gold">Now</span></r:content_for>
<r:content_for name="{$componentMain}"><p class="h3 mb-3 helvetica-neue-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua.
        </p>
        <a href="#" class="btn btn-primary mb-1">Call to Action</a></r:content_for>

<!-- Markup --><<r:partial name="utilities/wvu-is-main-checker" theme="University Relations: WVU Design System Components" /> aria-labelledby="<r:var name="componentName" />-label" class="position-relative py-5 wvu-background-size-cover <r:partial name="utilities/wvu-component-classes-checker" theme="University Relations: WVU Design System Components" />" <r:partial name="utilities/wvu-bg-styler" theme="University Relations: WVU Design System Components" />>
  <div class="container wvu-z-index-content">
    <div class="row justify-content-center my-5">
      <div class="col-md-5 mr-md-1 text-right p-3">
        <r:comment><!-- Ignore the following section. It is used only on the WVU Design System site to display component examples. --></r:comment>
        <r:if v1="{page:template:name}" v2="{$templateNameComponent}" op="=">
        <h2 id="<r:var name="componentName" />-label" class="<r:page:if_has_content_for region="{$itemHeaderClassesRegionName}"><r:page:content name="{$itemHeaderClassesRegionName}" /></r:page:if_has_content_for><r:page:unless_has_content_for region="{$itemHeaderClassesRegionName}"><r:yield name="{$defaultHeaderClasses}"><r:content /></r:yield></r:page:unless_has_content_for>">
          <r:page:unless_has_content_for region="{$itemHeaderRegionName}"><r:yield name="{$componentHeader}"><r:content /></r:yield></r:page:unless_has_content_for><r:page:content name="{$itemHeaderRegionName}" />
        </h2>
        </div>
        <div class="col-md-5 ml-md-1 p-3">
          <r:page:if_has_content_for region="{$itemMain}"><r:page:content name="{$itemMain}" /></r:page:if_has_content_for><r:page:unless_has_content_for region="{$itemMain}"><r:yield name="{$componentMain}"><r:content /></r:yield></r:page:unless_has_content_for>
        </r:if>
        <r:comment><!-- This is the code that will be used for any site other than the WVU Design System website. --></r:comment>
        <r:if v1="{page:template:name}" v2="{$templateNameComponent}" op="!=">
          <r:comment><!-- This uses a variable to define the name of the editable region. In the Super Theme, this is defined dynamically. If you are making a custom theme, and want to reference this partial more than once in the same tempalte, you will need to define an instance number (set_var name="componentInstance" value="something") when you insert each partial. --></r:comment>
          <r:edit_mode_only>
            <small class="wvu-z-index-content d-block mb-2 text-muted p-1 bg-wvu-neutral--dark-gray">Header classes:
              <pre class="mb-0 text-white"><r:editable_region name="{$headerClasses}" type="simple" /></pre>
              <strong class="text-muted">Default classes:</strong> <pre class="mb-0 text-muted"><r:yield name="{$defaultHeaderClasses}"><r:content /></r:yield></pre>
            </small>
          </r:edit_mode_only>
          <h2 id="<r:var name="componentName" />-label" class="<r:page:if_has_content_for region="{$headerClasses}"><r:page:content name="{$headerClasses}" /></r:page:if_has_content_for><r:page:unless_has_content_for region="{$headerClasses}"><r:yield name="{$defaultHeaderClasses}"><r:content /></r:yield></r:page:unless_has_content_for>"><r:editable_region name="{$componentHeader}" scope="{$componentScope}" type="simple"><r:yield name="{$componentHeader}"><r:content /></r:yield></r:editable_region></h2>
          </div>
          <div class="col-md-5 ml-md-1 p-3">
          <r:comment><!-- This uses a variable to define the name of the editable region. In the Super Theme, this is defined dynamically. If you are making a custom theme, and want to reference this partial more than once in the same tempalte, you will need to define an instance number (set_var name="componentInstance" value="something") when you insert each partial. --></r:comment>
          <r:editable_region name="{$componentMain}" scope="{$componentScope}"><r:yield name="{$componentMain}"><r:content /></r:yield></r:editable_region>
        </r:if>
      </div>
    </div>
  </div>
</<r:partial name="utilities/wvu-is-main-checker" theme="University Relations: WVU Design System Components" />><!-- End markup -->

<r:comment><!-- Pull in partial that allows user to edit classes for component in CleanSlate editor --></r:comment>
<r:if v1="{page:template:name}" v2="{$templateNameComponent}" op="!=">
  <r:partial name="includes/wvu-component-footer" theme="University Relations: WVU Design System Components" />
</r:if>
