<r:comment><!-- Provide a base name for this component. We can use this later to dynamically create things like editable region names --></r:comment>
<r:set_var name="baseComponentName" value="profiles" />

<r:comment><!-- Pull in component name, instance number, scope, etc. We will use these bits to dynamically define things like editable region names. --></r:comment>
<r:partial name="includes/wvu-component-variables" theme="University Relations: WVU Design System Components" />

<r:comment><!-- Pull in content from pages labeled with the slug of the page you want it to show on and the component name --></r:comment>
<r:set_var name="itemLabels">
  <r:page:slug />-<r:var name="componentName" />
</r:set_var>

<r:comment><!-- Define editable region names --></r:comment>
<r:set_var name="componentHeader">wvu-profiles-<r:var name="componentInstance" />__header</r:set_var>

<r:comment><!-- Suggestions for what utility classes to assign to this components’s stylable elements. These will also be applied by default if the content editor does not apply her own. --></r:comment>
<r:content_for name="{$defaultComponentClasses}"></r:content_for>

<r:comment><!-- Content that gets pulled into the editable regions by default. --></r:comment>
<r:content_for name="{$componentHeader}"><h2 id="<r:var name="componentName" />-label" class="display-3 wvu-shout">Featurettes Headline</h2>
  <p class="h3 helvetica-neue-light">Subhead goes here.</p></r:content_for>

<!-- Markup --><<r:partial name="utilities/wvu-is-main-checker" theme="University Relations: WVU Design System Components" /> aria-labelledby="<r:var name="componentName" />-label" class="py-5 <r:partial name="utilities/wvu-component-classes-checker" theme="University Relations: WVU Design System Components" />" <r:partial name="utilities/wvu-bg-styler" theme="University Relations: WVU Design System Components" />>
  <div class="container wvu-z-index-content">
    <r:comment><!-- Ignore the following section. --></r:comment>
    <r:if v1="{page:template:name}" v2="{$templateNameComponent}" op="=">
      <div class="mb-4">
        <r:page:if_has_content_for region="{$itemHeaderRegionNameH2}"><r:page:content name="{$itemHeaderRegionNameH2}" /></r:page:if_has_content_for><r:page:unless_has_content_for region="{$itemHeaderRegionNameH2}"><r:yield name="{$componentHeader}"><r:content /></r:yield></r:page:unless_has_content_for>
      </div>
    </r:if>
    <r:if v1="{page:template:name}" v2="{$templateNameComponent}" op="!=">
      <div class="mb-4">
        <r:page:if_has_content_for region="{$componentHeader}" always_show_in_edit_mode="true">
          <r:editable_region name="{$componentHeader}" scope="{$componentScope}">
            <r:yield name="{$componentHeader}"><r:content /></r:yield>
          </r:editable_region>
        </r:page:if_has_content_for>
      </div>
    </r:if>
    <div class="row">
      <div class="col-md-8 mx-auto">
        <r:root>
          <r:comment><!-- You can set $loopBy to: "name", "slug", "created_at", "updated_at", "sort_order", "template_name", "published_at", "title", "alternate_name", "meta_description", "content_updated_at";
            and $loopOrder to: "asc" or "desc";
            and $loopLabelsMatch to: "any", "all", or "none". --></r:comment>
          <r:descendants:each by="{$componentLoopBy}" order="{$componentLoopOrder}" labels="{$itemLabels}" labels_match="{$componentLoopLabelsMatch}" hidden="{$componentShowHidden}">
            <div class="row mb-5">
              <div class="col-md-3 mr-ml-auto mb-1 text-center">
                <r:if expr="{{ NOT(BLANK(thumbnail_url_sq)) }}">
                  <a href="<r:if expr="{{ NOT(BLANK(alternate_url)) }}"><r:page:data name="alternate_url" /></r:if><r:if expr="{{ BLANK(alternate_url) }}"><r:page:url /></r:if>"><img class="rounded-circle shadow text-center" src="<r:page:data name="thumbnail_url_sq" />/381x255.jpg" srcset="<r:page:data name="thumbnail_url_sq" />/960x640.jpg 960w, <r:page:data name="thumbnail_url_sq" />/586x286.jpg 586w, <r:page:data name="thumbnail_url_sq" />/381x255.jpg 381w, <r:page:data name="thumbnail_url_sq" />/286x191.jpg 281w, <r:page:data name="thumbnail_url_sq" />/279x186.jpg, <r:page:data name="thumbnail_url_sq" />/217x145.jpg" sizes="(min-width: 1200px) 279px, (min-width: 768px) 586px, 960px" alt="<r:page:data name="thumbnail_alt" />"></a>
                </r:if>
              </div>
              <div class="col-md-8">
                <h2 class="iowan-old-style-italic mb-0"><r:page:first_non_blank_attr names="alternate_name,name" /></h2>
                <r:page:if_has_content_for region="wvu-profile-1__profile-title">
                  <p class="helvetica-neue-light">
                    <small class="d-block"><r:page:content name="wvu-profile-1__profile-title" /></small>
                  </p>
                </r:page:if_has_content_for>
                <r:page:if_has_content_for region="wvu-profile-1__phone">
                  <p class="mb-0">
                    <small class="d-block">
                      <a href="tel:<r:page:content name="wvu-profile-1__phone-url" />" class="fas fa-phone"> <r:page:content name="wvu-profile-1__phone" /></a>
                    </small>
                  </p>
                </r:page:if_has_content_for>
                <r:page:if_has_content_for region="wvu-profile-1__email">
                  <p class="mb-0">
                    <small class="d-block">
                      <a href="tel:<r:page:content name="wvu-profile-1__email" />" class="fas fa-envelope"> <r:page:content name="wvu-profile-1__email" /></a>
                    </small>
                  </p>
                </r:page:if_has_content_for>
                <r:page:if_has_content_for region="wvu-profile-1__office">
                  <p class="mb-0">
                    <small class="d-block">
                      <r:page:if_has_content_for region="wvu-profile-1__office-url">
                        <a href="tel:<r:page:content name="wvu-profile-1__office-url" />" class="fas fa-building"> <r:page:content name="wvu-profile-1__office" /></a>
                      </r:page:if_has_content_for>
                      <r:page:unless_has_content_for region="wvu-profile-1__office-url">
                        <span class="fas fa-building"><r:page:content name="wvu-profile-1__office" /></span>
                      </r:page:unless_has_content_for>
                    </small>
                  </p>
                </r:page:if_has_content_for>
                <p class="mt-2">
                  <r:if expr="{{ NOT(BLANK(description)) }}"><r:page:data name="description" /></r:if>
                  <r:if expr="{{ BLANK(description) }}">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</r:if>
                </p>
                <p class="mb-0 mt-2">
                  <a class="btn btn-primary btn-sm" href="<r:if expr="{{ NOT(BLANK(alternate_url)) }}"><r:page:data name="alternate_url" /></r:if><r:if expr="{{ BLANK(alternate_url) }}"><r:page:url /></r:if>">View Profile<span class="sr-only">: <r:page:name /></span></a>
                </p>
              </div>
            </div>
          </r:descendants:each>
        </r:root>
      </div>
    </div>
  </div>
</<r:partial name="utilities/wvu-is-main-checker" theme="University Relations: WVU Design System Components" />><!-- End markup -->

<r:comment><!-- Pull in partial that allows user to edit classes for component in CleanSlate editor --></r:comment>
<r:if v1="{page:template:name}" v2="{$templateNameComponent}" op="!=">
  <r:partial name="includes/wvu-component-footer" theme="University Relations: WVU Design System Components" />
</r:if>
