<r:comment><!-- Provide a base name for this component. We can use this later to dynamically create things like editable region names --></r:comment>
<r:set_var name="baseComponentName" value="action-hero-split" />

<r:comment><!-- Pull in component name, instance number, scope, etc. We will use these bits to dynamically define things like editable region names. --></r:comment>
<r:partial name="includes/wvu-component-variables" theme="University Relations: WVU Design System Components" />

<r:comment><!-- Define editable region names --></r:comment>
<r:set_var name="componentHeader">wvu-<r:var name="componentName" />__header</r:set_var>
<r:set_var name="componentMain">wvu-<r:var name="componentName" />__main</r:set_var>
<r:set_var name="headerClasses">wvu-<r:var name="componentName" />-header-classes</r:set_var>

<r:comment><!-- Suggestions for what utility classes to assign to this components’s stylable elements. These will also be applied by default if the content editor does not apply her own. --></r:comment>
<r:content_for name="{$defaultComponentClasses}">wvu-bg-position-spacer-md-top wvu-bg-position-center-left--70 wvu-bg-position-xl-center-right--80</r:content_for>
<r:content_for name="{$defaultHeaderClasses}">wvu-shout display-3 text-wvu-accent--burnt-orange</r:content_for>

<r:comment><!-- Content that gets pulled into the editable regions by default. Normally you don’t need to do this. I’m doing this so I can keep default content for each region in one palce, then pull it into the WVU Design System demo site. If you want to make a copy of this component, you can delete the following “content_for” lines and replace the “yield” snippets in the markup with the actual content. --></r:comment>
<r:content_for name="{$componentHeader}">Outreach and Advocacy</r:content_for>
<r:content_for name="{$componentMain}"><p class="iowan-old-style-italic text-wvu-blue h1">Center for Cool Innovation</p>
      <p class="lead mb-4">For even more hands-on experience and to improve the oral health of children
        and adults across the state, School of Dentistry students must accumulate
        125 hours or more of community engagement work prior to graduation.</p>
      <a href="#" class="btn btn-primary">Action Item</a></r:content_for>

<!-- Markup --><<r:partial name="utilities/wvu-is-main-checker" theme="University Relations: WVU Design System Components" /> aria-labelledby="<r:var name="componentName" />-label">
  <div class="container position-relative wvu-z-index-content">
    <div class="row">
      <r:if v1="{$componentAlign}" v2="right" op="=">
        <div class="col-md-6 wvu-bg-size-cover <r:partial name="utilities/wvu-component-classes-checker" theme="University Relations: WVU Design System Components" />" <r:partial name="utilities/wvu-bg-styler" theme="University Relations: WVU Design System Components" />>

        </div>
      </r:if>
      <div class="col-md-6 mr-auto bg-light py-5 wvu-z-index-content<r:if v1="{$componentAlign}" v2="right" op="!="> text-right</r:if>">
        <r:comment><!-- Ignore the “if” section that immediately follows. It is used only on the WVU Design System site to display component examples. If you want to make a copy of this component, you can delete the “if” statement and everything inside of it. --></r:comment>
        <r:if v1="{page:template:name}" v2="{$templateNameComponent}" op="=">
          <r:comment><!-- For the h1, apply an ID that will tell screanreaders to use this element as the label for the section. --></r:comment>
          <h2 id="<r:var name="componentName" />-label" class="p-4 bg-light <r:if v1="{$componentAlign}" v2="right" op="!=">mr-md-n5 float-right</r:if> <r:if v1="{$componentAlign}" v2="right" op="=">ml-md-n5</r:if> <r:page:if_has_content_for region="{$itemHeaderClassesRegionName}"><r:page:content name="{$itemHeaderClassesRegionName}" /></r:page:if_has_content_for><r:page:unless_has_content_for region="{$itemHeaderClassesRegionName}"><r:yield name="{$defaultHeaderClasses}"><r:content /></r:yield></r:page:unless_has_content_for>">
            <r:page:unless_has_content_for region="{$itemHeaderRegionName}"><r:yield name="{$componentHeader}"><r:content /></r:yield></r:page:unless_has_content_for><r:page:content name="{$itemHeaderRegionName}" />
          </h2>
        </r:if>
        <r:if v1="{page:template:name}" v2="{$templateNameComponent}" op="!=">
          <r:comment><!-- This uses a variable to define the name of the editable region. In the Super Theme, this is defined dynamically. If you are making a custom theme, and want to reference this partial more than once in the same tempalte, you will need to define an instance number (set_var name="componentInstance" value="something") when you insert each partial. --></r:comment>
          <r:edit_mode_only>
            <small class="wvu-z-index-content d-block mb-2 text-left text-muted p-1 bg-wvu-neutral--dark-gray">Header classes:
              <pre class="mb-0 text-white"><r:editable_region name="{$headerClasses}" type="simple" /></pre>
              <strong class="text-muted">Default classes:</strong> <pre class="mb-0 text-muted"><r:yield name="{$defaultHeaderClasses}"><r:content /></r:yield></pre>
            </small>
          </r:edit_mode_only>
          <r:comment><!-- For the h1, apply an ID that will tell screanreaders to use this element as the label for the section --></r:comment>
          <h2 id="<r:var name="componentName" />-label" class="p-4 bg-light <r:if v1="{$componentAlign}" v2="right" op="!=">mr-md-n5 float-right</r:if> <r:if v1="{$componentAlign}" v2="right" op="=">ml-md-n5</r:if> <r:page:if_has_content_for region="{$headerClasses}"><r:page:content name="{$headerClasses}" /></r:page:if_has_content_for><r:page:unless_has_content_for region="{$headerClasses}"><r:yield name="{$defaultHeaderClasses}"><r:content /></r:yield></r:page:unless_has_content_for>"><r:editable_region name="{$componentHeader}" scope="{$componentScope}" type="simple"><r:yield name="{$componentHeader}"><r:content /></r:yield></r:editable_region></h2>
          <r:comment><!-- This uses a variable to define the name of the editable region. In the Super Theme, this is defined dynamically. If you are making a custom theme, and want to reference this partial more than once in the same tempalte, you will need to define an instance number (set_var name="componentInstance" value="something") when you insert each partial. --></r:comment>
        </r:if>
        <div class="<r:if v1="{$componentAlign}" v2="right" op="!=">pr-2 float-right</r:if><r:if v1="{$componentAlign}" v2="right" op="=">pl-2</r:if>">
          <r:if v1="{page:template:name}" v2="{$templateNameComponent}" op="=">
            <r:page:if_has_content_for region="{$itemMain}"><r:page:content name="{$itemMain}" /></r:page:if_has_content_for><r:page:unless_has_content_for region="{$itemMain}"><r:yield name="{$componentMain}" /></r:page:unless_has_content_for>
          </r:if>
          <r:if v1="{page:template:name}" v2="{$templateNameComponent}" op="!=">
            <r:editable_region name="{$componentMain}" scope="{$componentScope}"><r:yield name="{$componentMain}"><r:content /></r:yield></r:editable_region>
          </r:if>
        </div>
      </div>
      <r:if v1="{$componentAlign}" v2="right" op="!=">
        <div class="col-md-6 wvu-bg-size-cover <r:partial name="utilities/wvu-component-classes-checker" theme="University Relations: WVU Design System Components" />" <r:partial name="utilities/wvu-bg-styler" theme="University Relations: WVU Design System Components" />>

        </div>
      </r:if>
    </div>
  </div>
</<r:partial name="utilities/wvu-is-main-checker" theme="University Relations: WVU Design System Components" />><!-- End markup -->

<r:comment><!-- Pull in partial that allows user to edit classes for component in CleanSlate editor --></r:comment>
<r:if v1="{page:template:name}" v2="{$templateNameComponent}" op="!=">
  <r:partial name="includes/wvu-component-footer" theme="University Relations: WVU Design System Components" />
</r:if>
