<r:comment><!-- Provide a base name for this component. We can use this later to dynamically create things like editable region names --></r:comment>
<r:set_var name="baseComponentName" value="featurettes" />

<r:comment><!-- Pull in component name, instance number, scope, etc. We will use these bits to dynamically define things like editable region names. --></r:comment>
<r:partial name="includes/wvu-component-variables" theme="University Relations: WVU Design System Components" />

<r:comment><!-- Define base editable region names. --></r:comment>
<r:set_var name="componentHeader">wvu-featurettes-<r:var name="componentInstance" />__header</r:set_var>
<r:set_var name="componentPostscript">wvu-featurettes-<r:var name="componentInstance" />__postscript</r:set_var>
<r:set_var name="componentReadMoreButtonText">wvu-featurettes-<r:var name="componentInstance" />__read-more</r:set_var>
<r:set_var name="headerClasses">wvu-<r:var name="componentName" />-header-classes</r:set_var>

<r:comment><!-- Suggestions for what utility classes to assign to this components’s container. These will also be applied by default if the content editor does not apply her own. --></r:comment>
<r:content_for name="{$defaultComponentClasses}">py-5</r:content_for>
<r:content_for name="{$defaultHeaderClasses}">mb-4</r:content_for>

<r:comment><!-- Content that gets pulled into the editable regions by default. --></r:comment>
<r:content_for name="{$componentHeader}"><h2 id="<r:var name="componentName" />-label" class="display-3 wvu-shout">Featurettes Headline</h2>
  <p class="h3 helvetica-neue-light">Subhead goes here.</p></r:content_for>
<r:content_for name="{$componentPostscript}"><p class="mb-0">Put additional info or <a href="#">links</a> here.</p></r:content_for>

<!-- Markup --><<r:partial name="utilities/wvu-is-main-checker" theme="University Relations: WVU Design System Components" /> aria-labelledby="<r:var name="componentName" />-label" class="<r:partial name="utilities/wvu-component-classes-checker" theme="University Relations: WVU Design System Components" />" <r:partial name="utilities/wvu-bg-styler" theme="University Relations: WVU Design System Components" />>
  <div class="container wvu-z-index-content">
    <r:comment><!-- Ignore the following section. --></r:comment>
    <r:if v1="{page:template:name}" v2="{$templateNameComponent}" op="=">
      <div class="wvu-z-index-content <r:page:if_has_content_for region="{$itemHeaderClassesRegionName}"><r:page:content name="{$itemHeaderClassesRegionName}" /></r:page:if_has_content_for><r:page:unless_has_content_for region="{$itemHeaderClassesRegionName}"><r:yield name="{$defaultHeaderClasses}" /></r:page:unless_has_content_for>">
        <r:page:if_has_content_for region="{$itemHeaderRegionNameH2}"><r:page:content name="{$itemHeaderRegionNameH2}" /></r:page:if_has_content_for><r:page:unless_has_content_for region="{$itemHeaderRegionNameH2}"><r:yield name="{$componentHeader}"><r:content /></r:yield></r:page:unless_has_content_for>
      </div>
    </r:if>
    <r:if v1="{page:template:name}" v2="{$templateNameComponent}" op="!=">
      <r:page:if_has_content_for region="{$componentHeader}" always_show_in_edit_mode="true">
        <div class="wvu-z-index-content mb-4">
          <r:editable_region name="{$componentHeader}" scope="{$componentScope}">
            <r:yield name="{$componentHeader}"><r:content /></r:yield>
          </r:editable_region>
        </div>
      </r:page:if_has_content_for>
    </r:if>
    <r:comment><!-- Call a utility partial that loops through each papge in site and grabs content if the page label matches.--></r:comment>
    <r:if v1="{$componentFeaturettesStyle}" v2="default" op="=">
      <r:partial name="includes/wvu-featurettes__default" theme="University Relations: WVU Design System Components" />
    </r:if>
    <r:if v1="{$componentFeaturettesStyle}" v2="cards" op="=">
      <r:partial name="includes/wvu-featurettes__cards" theme="University Relations: WVU Design System Components" />
    </r:if>
    <r:if v1="{$componentFeaturettesStyle}" v2="cards-w-overlay" op="=">
      <r:partial name="includes/wvu-featurettes__cards-w-overlay" theme="University Relations: WVU Design System Components" />
    </r:if>
    <r:if v1="{$componentFeaturettesStyle}" v2="testimonials" op="=">
      <r:partial name="includes/wvu-featurettes__testimonials" theme="University Relations: WVU Design System Components" />
    </r:if>
    <r:if v1="{$componentFeaturettesStyle}" v2="majors" op="=">
      <r:partial name="includes/wvu-featurettes__majors" theme="University Relations: WVU Design System Components" />
    </r:if>
    <r:if v1="{$componentFeaturettesStyle}" v2="profiles" op="=">
      <r:partial name="includes/wvu-featurettes__profiles" theme="University Relations: WVU Design System Components" />
    </r:if>
    <r:if v1="{$componentFeaturettesStyle}" v2="editable-regions" op="=">
      <r:partial name="includes/wvu-featurettes__editable-regions" theme="University Relations: WVU Design System Components" />
    </r:if>
    <r:if v1="{$componentFeaturettesStyle}" v2="custom" op="=">
      <r:partial name="includes/wvu-featurettes__custom" theme="University Relations: WVU Design System Components" />
    </r:if>
    <r:if v1="{page:template:name}" v2="{$templateNameComponent}" op="=">
      <div class="mt-2 wvu-z-index-content">
        <div class="wvu-z-index-content mb-2 <r:page:if_has_content_for region="{$itemHeaderClassesRegionName}"><r:page:content name="{$itemHeaderClassesRegionName}" /></r:page:if_has_content_for><r:page:unless_has_content_for region="{$itemHeaderClassesRegionName}"><r:yield name="{$defaultHeaderClasses}" /></r:page:unless_has_content_for>">
          <r:yield name="{$componentPostscript}"><r:content /></r:yield>
        </div>
      </div>
    </r:if>
    <r:if v1="{page:template:name}" v2="{$templateNameComponent}" op="!=">
      <r:page:if_has_content_for region="{$componentPostscript}" always_show_in_edit_mode="true">
        <div class="mt-2 wvu-z-index-content">
          <div class="wvu-z-index-content mb-2">
            <r:editable_region name="{$componentPostscript}" scope="{$componentScope}">
              <r:yield name="{$componentPostscript}"><r:content /></r:yield>
            </r:editable_region>
          </div>
        </div>
      </r:page:if_has_content_for>
    </r:if>
  </div>
</<r:partial name="utilities/wvu-is-main-checker" theme="University Relations: WVU Design System Components" />><!-- End markup -->

<r:comment><!-- Pull in partial that allows users to edit classes for component in CleanSlate editor --></r:comment>
<r:if v1="{page:template:name}" v2="{$templateNameComponent}" op="!=">
  <r:partial name="includes/wvu-component-footer" theme="University Relations: WVU Design System Components" />
</r:if>
