<r:comment><!-- Provide a base name for this component. We can use this later to dynamically create things like editable region names --></r:comment>
<r:set_var name="baseComponentName" value="breadcrumbs" />

<r:comment><!-- Pull in component name, instance number, scope, etc. We will use these bits to dynamically define things like editable region names. --></r:comment>
<r:partial name="includes/wvu-component-variables" theme="University Relations: WVU Design System Components" />

<r:comment><!-- Suggestions for what utility classes to assign to this components’s container. These will also show up by default if the content editor does not apply her own. --></r:comment>
<r:content_for name="{$defaultComponentClasses}">
  text-white
</r:content_for>

<r:comment><!-- Suggestions for what utility classes to assign to this pattern. These will also show up by default if the content editor does not apply her own. --></r:comment>
<r:var name="componentClassesBreadcrumbs">
  wvu-slash-list pl-0 text-muted <r:page:content name="{$componentClasses}" />
</r:var>

<section aria-label="Breadcrumbs" class="wvu-breadcrumbs py-2 w-100 position-absolute <r:site:data name="classes_wvu-breadcrumbs" /> wvu-z-index-breadcrumbs">
  <div class="container position-relative wvu-z-index-content">
    <small>
      <r:breadcrumbs ul_class="wvu-slash-list pl-0 text-wvu-neutral--light-gray" />
     </small>
  </div>
</section>

<r:comment><!-- Pull in component instructions and allow user to edit classes for component in CleanSlate editor --></r:comment>
<r:if v1="{page:template:name}" v2="{$templateNameComponent}" op="!=">
  <r:partial name="includes/wvu-component-footer" theme="University Relations: WVU Design System Components" />
</r:if>
