<r:comment><!-- Provide a base name for this component. We can use this later to dynamically create things like editable region names --></r:comment>
<r:set_var name="baseComponentName" value="directory" />

<r:comment><!-- Pull in component name, instance number, scope, etc. We will use these bits to dynamically define things like editable region names. --></r:comment>
<r:partial name="includes/wvu-component-variables" theme="University Relations: WVU Design System Components" />

<r:comment><!-- Pull in content from pages labeled with the slug of the page you want it to show on and the component name --></r:comment>
<r:set_var name="itemLabels">
  <r:page:slug />-<r:var name="componentName" />
</r:set_var>

<r:comment><!-- Description for component. To be used on the WVU Design System documentation site. --></r:comment>
<r:content_for name="{$componentDescription}">Loops through all pages, finds those labeled with <code>{page-slug}-directory-{instance-number}</code>, pulls the relevant content, and displays as a directory.</r:content_for>

<r:comment><!-- Pull in component name, instance number, scope, etc. We will use these bits to dynamically define things like editable region names. --></r:comment>
<r:partial name="includes/wvu-component-variables" theme="University Relations: WVU Design System Components" />

<r:comment><!-- Define editable region names --></r:comment>
<r:set_var name="componentHeader">wvu-hero-<r:var name="componentName" />__header</r:set_var>

<r:comment><!-- Suggestions for what utility classes to assign to this components’s stylable elements. These will be applied by default if the content editor does not apply her own. --></r:comment>
<r:content_for name="{$defaultComponentClasses}">pt-5 pb-2</r:content_for>

<r:comment><!-- Content that gets pulled into the editable regions by default --></r:comment>
<r:content_for name="{$componentHeader}"><h2 id="<r:var name="componentName" />-label">Staff Directory Headline</h2></r:content_for>

<!-- Markup --><<r:partial name="utilities/wvu-is-main-checker" theme="University Relations: WVU Design System Components" /> aria-labelledby="<r:var name="componentName" />-label" class="mb-3 <r:partial name="utilities/wvu-component-classes-checker" theme="University Relations: WVU Design System Components" />" <r:partial name="utilities/wvu-bg-styler" theme="University Relations: WVU Design System Components" />>
  <div class="container">
    <r:if v1="{page:template:name}" v2="{$templateNameComponent}" op="=">
      <div class="wvu-z-index-content mb-4">
        <r:yield name="{$componentHeader}"><r:content /></r:yield>
      </div>
    </r:if>
    <r:if v1="{page:template:name}" v2="{$templateNameComponent}" op="!=">
      <r:page:if_has_content_for region="{$componentHeader}" always_show_in_edit_mode="true">
        <div class="wvu-z-index-content mb-4">
          <r:editable_region name="{$componentHeader}" scope="{$componentScope}">
            <r:yield name="{$componentHeader}"><r:content /></r:yield>
          </r:editable_region>
        </div>
      </r:page:if_has_content_for>
    </r:if>
    <div class="table-responsive-md">
      <table class="table">
        <tbody>
          <r:root>
            <r:descendants:each by="{$componentLoopBy}" order="{$componentLoopOrder}" labels="{$itemLabels}" labels_match="{$componentLoopLabelsMatch}" hidden="{$componentShowHidden}">
              <tr class="border-bottom border-light">
                <td class="py-2 w-25">
                  <div class="row">
                    <div class="col-4">
                      <r:if expr="{{ NOT(BLANK(thumbnail_url_sq)) }}">
                        <img class="rounded-circle shadow d-inline-block" src="<r:page:data name="thumbnail_url_sq" />" alt="thumbnail_alt" />
                      </r:if>
                    </div>
                    <div class="col-8 align-self-center">
                      <strong class="d-block"><r:page:first_non_blank_attr names="alternate_name,name" /></strong>
                      <r:page:if_has_content_for region="wvu-profile-1__profile-title">
                        <small class="helvetica-neue-light d-block"><r:page:content name="wvu-profile-1__profile-title" /></small>
                      </r:page:if_has_content_for>
                    </div>
                  </div>
                </td>
                <td class="align-middle">
                  <r:page:if_has_content_for region="wvu-profile-1__phone">
                    <i class="fas fa-phone"> <a href="tel:<r:page:content name="profile-1__phone" />"><r:page:content name="wvu-profile-1__phone" /></a></i>
                  </r:page:if_has_content_for>
                </td>
                <td class="align-middle">
                  <r:page:if_has_content_for region="wvu-profile-1__email">
                    <i class="fas fa-envelope"> <a href="tel:<r:page:content name="profile-1__email" />"><r:page:content name="wvu-profile-1__email" /></a></i>
                  </r:page:if_has_content_for>
                </td>
                <td class="align-middle">
                  <r:page:if_has_content_for region="wvu-profile-1__office">
                    <i class="fas fa-building"> <r:page:if_has_content_for region="wvu-profile-1__office-url"><a href="tel:<r:page:content name="wvu-profile-1__office-url" />"><r:page:content name="wvu-profile-1__office" /></a></r:page:if_has_content_for><r:page:unless_has_content_for region="wvu-profile-1__office-url"><r:page:content name="wvu-profile-1__office" /></r:page:unless_has_content_for></i>
                  </r:page:if_has_content_for>
                </td>
                <td class="align-middle">
                  <i class="fas fa-user-circle"> <a href="<r:if expr="{{ NOT(BLANK(alternate_url)) }}"><r:page:data name="alternate_url" /></r:if><r:if expr="{{ BLANK(alternate_url) }}"><r:page:url /></r:if>">Profile<span class="sr-only">: <r:page:name /></span></a></i>
                </td>
              </tr>
            </r:descendants:each>
          </r:root>
        </tbody>
      </table>
    </div>
  </div>
</<r:partial name="utilities/wvu-is-main-checker" theme="University Relations: WVU Design System Components" />><!-- End markup -->

<r:comment><!-- Pull in partial that allows user to edit classes for component in CleanSlate editor --></r:comment>
<r:if v1="{page:template:name}" v2="{$templateNameComponent}" op="!=">
  <r:partial name="includes/wvu-component-footer" theme="University Relations: WVU Design System Components" />
</r:if>
