<r:comment><!-- Provide a base name for this component. We can use this later to dynamically create things like editable region names --></r:comment>
<r:set_var name="baseComponentName" value="contact-info" />

<r:comment><!-- Pull in component name, instance number, scope, etc. We will use these bits to dynamically define things like editable region names. --></r:comment>
<r:partial name="includes/wvu-component-variables" theme="University Relations: WVU Design System Components" />

<r:comment><!-- Define editable region names --></r:comment>
<r:set_var name="componentHeader">wvu-contact-info-<r:var name="componentInstance" />__header</r:set_var>
<r:set_var name="componentAddress">wvu-contact-info-<r:var name="componentInstance" />__address</r:set_var>
<r:set_var name="componentPhone">wvu-contact-info-<r:var name="componentInstance" />__phone</r:set_var>
<r:set_var name="componentForm">wvu-contact-info-<r:var name="componentInstance" />__form</r:set_var>

<r:comment><!-- Suggestions for what utility classes to assign to this components’s container. These will also be applied by default if the content editor does not apply her own. --></r:comment>
<r:content_for name="{$defaultComponentClasses}"></r:content_for>

<r:comment><!-- Content that gets pulled into the editable regions by default --></r:comment>
<r:content_for name="{$componentHeader}"><p class="helvetica-neue-light h2 mb-3 pr-md-3">We just need to put these last issues to bed.</p></r:content_for>
<r:content_for name="{$componentAddress}"><address class="pl-3">
              <small class="d-block">
                <strong>West Virginia University</strong>
                <br> 1345 Market St, Suite 900
                <br> Morgantown, WV 26505
                <br>
              </small>
            </address></r:content_for>
<r:content_for name="{$componentPhone}"><address class="pl-3 mb-4">
              <small class="d-block">
                <abbr title="Phone">P:</abbr> (123) 456-7890
                <br>
                <strong>Full Name</strong>
                <br>
                <a href="mailto:#">first.last@example.com</a>
              </small>
            </address></r:content_for>
<r:content_for name="{$componentForm}"><form class="px-3 py-4">
            <h2>Or Fill Out Our Form</h2>
            <div class="form-group">
              <label for="exampleFormControlInput1">Email address</label>
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Example textarea</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form></r:content_for>

<!-- Markup --><<r:partial name="utilities/wvu-is-main-checker" theme="University Relations: WVU Design System Components" /> aria-labelledby="<r:var name="componentName" />-label" class="py-5 <r:partial name="utilities/wvu-component-classes-checker" theme="University Relations: WVU Design System Components" />" <r:partial name="utilities/wvu-bg-styler" theme="University Relations: WVU Design System Components" />>
  <div class="container wvu-z-index-content">
    <div class="row">
      <r:if v1="{page:template:name}" v2="{$templateNameComponent}" op="=">
        <div class="col col-md-6">
          <r:yield name="{$componentHeader}"><r:content /></r:yield>
          <h2 class="h5 iowan-old-style-black">
            <span class="fas fa-map-marker-alt position-absolute"></span>
            <span class="pl-3 d-block">Find Us at the office</span>
          </h2>
          <r:yield name="{$componentAddress}"><r:content /></r:yield>
          <h2 class="h5 iowan-old-style-black mt-3">
            <span class="fas fa-phone position-absolute"></span>
            <span class="pl-3 d-block">By Phone or Email</span>
          </h2>
          <r:yield name="{$componentPhone}"><r:content /></r:yield>
        </div>
        <div class="col col-md-6 bg-white text-wvu-neutral--black shadow-lg">
          <r:yield name="{$componentForm}"><r:content /></r:yield>
        </div>
      </r:if>
      <r:if v1="{page:template:name}" v2="{$templateNameComponent}" op="!=">
        <div class="col col-md-6">
          <r:page:if_has_content_for region="{$componentHeader}" always_show_in_edit_mode="true">
            <r:editable_region name="{$componentHeader}" scope="{$componentScope}"><r:yield name="{$componentHeader}"><r:content /></r:yield></r:editable_region>
          </r:page:if_has_content_for>
          <r:page:if_has_content_for region="{$componentAddress}" always_show_in_edit_mode="true">
            <h2 class="h5 iowan-old-style-black">
              <span class="fas fa-map-marker-alt position-absolute"></span>
              <span class="pl-3 d-block">Find Us at the office</span>
            </h2>
            <r:editable_region name="{$componentAddress}" scope="{$componentScope}"><r:yield name="{$componentAddress}"><r:content /></r:yield></r:editable_region>
          </r:page:if_has_content_for>
          <r:page:if_has_content_for region="{$componentPhone}" always_show_in_edit_mode="true">
            <h2 class="h5 iowan-old-style-black mt-3">
              <span class="fas fa-phone position-absolute"></span>
              <span class="pl-3 d-block">By Phone or Email</span>
            </h2>
            <r:editable_region name="{$componentPhone}" scope="{$componentScope}"><r:yield name="{$componentPhone}"><r:content /></r:yield></r:editable_region>
          </r:page:if_has_content_for>
        </div>
        <div class="col col-md-6 bg-white text-wvu-neutral--black shadow-lg">
          <r:editable_region name="{$componentForm}" scope="{$componentScope}"><r:yield name="{$componentForm}"><r:content /></r:yield></r:editable_region>
        </div>
      </r:if>
    </div>
  </div>
</<r:partial name="utilities/wvu-is-main-checker" theme="University Relations: WVU Design System Components" />><!-- End markup -->

<r:comment><!-- Pull in partial that allows user to edit classes for component in CleanSlate editor --></r:comment>
<r:if v1="{page:template:name}" v2="{$templateNameComponent}" op="!=">
  <r:partial name="includes/wvu-component-footer" theme="University Relations: WVU Design System Components" />
</r:if>
