<r:comment><!-- Provide a base name for this component. We can use this later to dynamically create things like editable region names --></r:comment>
<r:set_var name="baseComponentName" value="blog-index" />

<r:comment><!-- Pull in component name, instance number, scope, etc. We will use these bits to dynamically define things like editable region names. --></r:comment>
<r:partial name="includes/wvu-component-variables" theme="University Relations: WVU Design System Components" />

<r:comment><!-- Define editable region names --></r:comment>
<r:set_var name="componentMain">wvu-<r:var name="componentName" />__main</r:set_var>

<r:comment><!-- Suggestions for what utility classes to assign to this components’s stylable elements. These will also be applied by default if the content editor does not apply her own. --></r:comment>
<r:content_for name="{$defaultComponentClasses}"></r:content_for>

<r:comment><!-- Content that gets pulled into the editable regions by default. Normally you don’t need to do this. I’m doing this so I can keep default content for each region in one palce, then pull it into the WVU Design System demo site. If you want to make a copy of this component, you can delete the following “content_for” lines and replace the “yield” snippets in the markup with the actual content. --></r:comment>
<r:content_for name="{$componentMain}"><h2>Articles</h2><p>Intro text.</p></r:content_for>

<!-- Markup --><<r:partial name="utilities/wvu-is-main-checker" theme="University Relations: WVU Design System Components" /> aria-labelledby="<r:var name="componentName" />-label" class="py-5 <r:partial name="utilities/wvu-component-classes-checker" theme="University Relations: WVU Design System Components" />" <r:partial name="utilities/wvu-bg-styler" theme="University Relations: WVU Design System Components" />>
  <div class="container wvu-z-index-content">

    <r:comment><!-- NOTE: Set how many blog posts you'd like to show per page. Eg: default="10" --></r:comment>
    <r:set_var name="limit" value="{$limit}" default="10"/>

    <r:if v1="{page:template:name}" v2="{$templateNameComponent}" op="=">
      <div class="mb-4">
        <r:yield name="{$componentMain}" />
      </div>
    </r:if>
    <r:if v1="{page:template:name}" v2="{$templateNameComponent}" op="=">
      <r:page:if_has_content_for region="{$componentMain}" always_show_in_edit_mode="true">
        <div class="mb-4">
          <r:editable_region name="{$componentMain}"><r:yield name="{$componentMain}" /></r:editable_region>
        </div>
      </r:page:if_has_content_for>
    </r:if>

    <div class="row">
      <div class="col-md-8 mr-md-auto">

        <r:blog:articles limit="{$limit}" page="{$page}" tags="{$tags}" tags_op="{$tags_op}" year="{$year}" month="{$month}" day="{$day}">
          <r:set_var name="article_count" value="{count}" />

          <r:if_no_articles>
            <p>No blog posts found. Try again later, perhaps?</p>
          </r:if_no_articles>

          <r:comment><!-- NOTE: Blog articles use Schema.org's tags to structure your data & help with SEO: http://goo.gl/SKs4Qb --></r:comment>

          <r:if_articles>
            <div class="wvu-articles">
              <r:each>
                <article class="mb-4" itemscope="" itemtype="http://schema.org/BlogPosting">
                  <h2 itemprop="headline"><a href="<r:article:path />"><r:article:name /></a></h2>
                  <p class="small d-block">
                    <span itemprop="author" itemscope="" itemtype="http://schema.org/Person">
                      <span itemprop="name">
                        <r:article:author_full_name /> |
                      </span> <!-- /.wvu-article__author -->
                    </span> <!-- /itemprop="author" -->
                    <time itemprop="datePublished" datetime="<r:date_format format="iso8601" value="{article:published_at}" />"><r:date_format format="%A, %B %d, %Y" value="{article:published_at}" /></time>
                  </p> <!-- /.wvu-article__meta -->
                  <div class="mb-2" itemprop="articleBody">
                    <r:select_html css_selector="p" limit="1">
                      <r:article:content name="wvu-blog-article-1__main" />
                    </r:select_html>
                  </div> <!-- /.wvu-article__body -->
                  <p><a href="<r:article:path />">Read Full Article<span class="sr-only">: <r:article:name /></span></a></p>
                </article> <!-- /.wvu-article -->
              </r:each>
            </div> <!-- /.wvu-articles -->
          </r:if_articles>

          <r:pagination>
            <nav aria-label="Page navigation">
              <ul class="pagination">
                <li class="page-item <r:if_last_page>disabled</r:if_last_page>"><a class="page-link" href="<r:next_url />" rel="next">&larr; Older Articles</a></li>
                <li class="page-item <r:if_first_page>disabled</r:if_first_page>"><a class="page-link" href="<r:previous_url />" rel="prev">Newer Articles &rarr;</a></li>
              </ul>
            </nav>
          </r:pagination>
        </r:blog:articles>

      </div>
      <r:partial name="components/wvu-sidebar" theme="University Relations: WVU Design System Components" />
    </div>
  </div> <!-- /.container -->
</<r:partial name="utilities/wvu-is-main-checker" theme="University Relations: WVU Design System Components" />><!-- End markup -->

<r:comment><!-- Pull in partial that allows user to edit classes for component in CleanSlate editor --></r:comment>
<r:if v1="{page:template:name}" v2="{$templateNameComponent}" op="!=">
  <r:partial name="includes/wvu-component-footer" theme="University Relations: WVU Design System Components" />
</r:if>
