<r:comment><!-- Provide a base name for this component. We can use this later to dynamically create things like editable region names --></r:comment>
<r:set_var name="baseComponentName" value="profile" />

<r:comment><!-- Pull in component name, instance number, scope, etc. We will use these bits to dynamically define things like editable region names. --></r:comment>
<r:partial name="includes/wvu-component-variables" theme="University Relations: WVU Design System Components" />

<r:comment><!-- Define editable region names --></r:comment>
<r:set_var name="componentMain">wvu-<r:var name="componentName" />__main</r:set_var>
<r:set_var name="componentProfileTitle">wvu-<r:var name="componentName" />__profile-title</r:set_var>
<r:set_var name="componentPhone">wvu-<r:var name="componentName" />__phone</r:set_var>
<r:set_var name="componentEmail">wvu-<r:var name="componentName" />__email</r:set_var>
<r:set_var name="componentOffice">wvu-<r:var name="componentName" />__office</r:set_var>
<r:set_var name="componentOfficeURL">wvu-<r:var name="componentName" />__office-url</r:set_var>
<r:set_var name="componentWebsite">wvu-<r:var name="componentName" />__website</r:set_var>
<r:set_var name="componentQuote">wvu-<r:var name="componentName" />__quote</r:set_var>
<r:set_var name="componentHeaderLabel">wvu-<r:var name="componentName" />__header-label</r:set_var>

<r:comment><!-- Suggestions for what utility classes to assign to this components’s stylable elements. These will also be applied by default if the content editor does not apply her own. --></r:comment>
<r:content_for name="{$defaultComponentClasses}"></r:content_for>

<r:comment><!-- Content that gets pulled into the editable regions by default. Normally you don’t need to do this. I’m doing this so I can keep default content for each region in one palce, then pull it into the WVU Design System demo site. If you want to make a copy of this component, you can delete the following “content_for” lines and replace the “yield” snippets in the markup with the actual content. --></r:comment>
<r:content_for name="{$componentMain}"><p>Synergize productive mindfulness marketing computer development html roi
          feedback team website. Blue money that jerk from finance really threw me
          under the bus onward and upward, productize the deliverables and focus
          on the bottom line horsehead offer my capacity is full re-inventing the
          wheel Q1. Win-win-win we have put the apim bol, temporarily so that we
          can later put the monitors on for price point, nor driving the initiative
          forward commitment to the cause.</p>
        <p>UX closer to the metal yet i don't want to drain the whole swamp, i just
          want to shoot some alligators, or put a record on and see who dances horsehead
          offer, Bob called an all-hands this afternoon, so touch base. We need more
          paper build on a culture of contribution and inclusion, or value-added
          run it up the flag pole can you ballpark the cost per unit for me exposing
          new ways to evolve our design language we've got to manage that low hanging
          fruit. My capacity is full i don't want to drain the whole swamp, i just
          want to shoot some alligators. Open door policy ramp up.</r:content_for>

<!-- Markup --><<r:partial name="utilities/wvu-is-main-checker" theme="University Relations: WVU Design System Components" /> aria-labelledby="<r:var name="componentName" />-label" class="py-5 <r:partial name="utilities/wvu-component-classes-checker" theme="University Relations: WVU Design System Components" />" <r:partial name="utilities/wvu-bg-styler" theme="University Relations: WVU Design System Components" />>
  <div class="container wvu-z-index-content">
    <div class="row">
      <div class="col-md-3 mb-1">
        <div class="col-8 col-xl-10 mr-auto">
          <r:if v1="{page:template:name}" v2="{$templateNameComponent}" op="=">
            <img class="rounded-circle shadow" src="https://via.placeholder.com/960x960" alt="thumbnail_alt" />
            <p class="pt-3">
              <r:partial name="includes/wvu-contact-info" theme="University Relations: WVU Design System Components" />
            </p>
          </r:if>
          <r:if v1="{page:template:name}" v2="{$templateNameComponent}" op="!=">
            <r:if expr="{{ NOT(BLANK(thumbnail_url_sq)) }}">
              <img class="rounded-circle shadow" src="<r:page:data name="thumbnail_url_sq" />" alt="thumbnail_alt" />
            </r:if>
            <r:if expr="{{ BLANK(thumbnail_url_sq) }}">
              <r:if expr="{{ NOT(BLANK(thumbnail_url)) }}">
                <img class="shadow" src="<r:page:data name="thumbnail_url" />" alt="thumbnail_alt" />
              </r:if>
            </r:if>
            <p class="pt-3">
              <r:partial name="includes/wvu-contact-info" theme="University Relations: WVU Design System Components" />
            </p>
          </r:if>
        </div>
      </div>
      <div class="col-md-8 mr-md-auto">
        <r:if v1="{page:template:name}" v2="{$templateNameComponent}" op="=">
          <p class="helvetica-neue-light h5 text-uppercase">
            Header Label
          </p>
          <h1><r:page:first_non_blank_attr names="alternate_name, name" /></h1>
          <p class="helvetica-neue-light h5">
            Fancy Title
          </p>
          <p class="iowan-old-style-black-italic h3 mt-3">
            <r:editable_region name="{$componentQuote}" scope="{$componentScope}" type="simple" />
          </p>
          <div class="mt-3">
            <r:yield name="{$componentMain}" />
          </div>
        </r:if>
        <r:if v1="{page:template:name}" v2="{$templateNameComponent}" op="!=">
          <r:page:if_has_content_for region="{$componentHeaderLabel}" always_show_in_edit_mode="true">
            <r:edit_mode_only><span class="d-inline-block badge badge-primary mb-1">Header Label</span></r:edit_mode_only>
            <p class="helvetica-neue-light h5 text-uppercase">
              <r:editable_region name="{$componentHeaderLabel}" scope="{$componentScope}" type="simple" />
            </p>
          </r:page:if_has_content_for>
          <r:if v1="{$backpage_header}" v2="1" op="=">
            <h1><r:page:first_non_blank_attr names="alternate_name, name" /></h1>
          </r:if>
          <r:page:if_has_content_for region="{$componentProfileTitle}" always_show_in_edit_mode="true">
            <r:edit_mode_only><span class="d-inline-block badge badge-primary mb-1">Title / Subhead</span></r:edit_mode_only>
            <p class="helvetica-neue-light h5">
              <r:editable_region name="{$componentProfileTitle}" scope="{$componentScope}" type="simple" />
            </p>
          </r:page:if_has_content_for>
          <r:page:if_has_content_for region="{$componentQuote}" always_show_in_edit_mode="true">
            <r:edit_mode_only><span class="d-inline-block badge badge-primary mb-1">Quote</span></r:edit_mode_only>
            <p class="iowan-old-style-black-italic h3 mt-3">
              <r:editable_region name="{$componentQuote}" scope="{$componentScope}" type="simple" />
            </p>
          </r:page:if_has_content_for>
          <r:page:if_has_content_for region="{$componentMain}" always_show_in_edit_mode="true">
            <r:edit_mode_only><span class="d-inline-block badge badge-primary mb-1">Main</span></r:edit_mode_only>
            <div class="mt-3">
              <r:editable_region name="{$componentMain}" scope="{$componentScope}"><r:yield name="{$componentMain}" /></r:editable_region>
            </div>
          </r:page:if_has_content_for>
        </r:if>
      </div>
    </div>
  </div>
</<r:partial name="utilities/wvu-is-main-checker" theme="University Relations: WVU Design System Components" />>

<r:comment><!-- Pull in partial that allows user to edit classes for component in CleanSlate editor --></r:comment>
<r:if v1="{page:template:name}" v2="{$templateNameComponent}" op="!=">
  <r:partial name="includes/wvu-component-footer" theme="University Relations: WVU Design System Components" />
</r:if>
