<r:comment><!-- Provide a base name for this component. We can use this later to dynamically create things like editable region names --></r:comment>
<r:set_var name="baseComponentName" value="blog-article" />

<r:comment><!-- Pull in component name, instance number, scope, etc. We will use these bits to dynamically define things like editable region names. --></r:comment>
<r:partial name="includes/wvu-component-variables" theme="University Relations: WVU Design System Components" />

<r:comment><!-- Define editable region names --></r:comment>
<r:set_var name="componentMain">wvu-<r:var name="componentName" />__main</r:set_var>

<r:comment><!-- Suggestions for what utility classes to assign to this components’s stylable elements. These will also be applied by default if the content editor does not apply her own. --></r:comment>
<r:content_for name="{$defaultComponentClasses}"></r:content_for>

<r:comment><!-- Content that gets pulled into the editable regions by default. Normally you don’t need to do this. I’m doing this so I can keep default content for each region in one palce, then pull it into the WVU Design System demo site. If you want to make a copy of this component, you can delete the following “content_for” lines and replace the “yield” snippets in the markup with the actual content. --></r:comment>
<r:content_for name="{$componentMain}"><p>Churning anomalies game plan. High performance keywords not enough bandwidth.
          Can we parallel path. Viral engagement great plan! let me diarize this,
          and we can synchronise ourselves at a later timepoint but are there any
          leftovers in the kitchen? driving the initiative forward.</p>

        <p>Build on a culture of contribution and inclusion that jerk from finance really
          threw me under the bus, so five-year strategic plan blue sky thinking,
          nor clear blue water ramp up upstream selling. Strategic staircase can
          we align on lunch orders. I don't want to drain the whole swamp, i just
          want to shoot some alligators meeting assassin we need distributors to
          evangelize the new line to local markets, nor cloud strategy but data-point,
          but back to the drawing-board.</p></r:content_for>

<!-- Markup --><<r:partial name="utilities/wvu-is-main-checker" theme="University Relations: WVU Design System Components" /> aria-labelledby="<r:var name="componentName" />-label" class="<r:partial name="utilities/wvu-component-classes-checker" theme="University Relations: WVU Design System Components" />" <r:partial name="utilities/wvu-bg-styler" theme="University Relations: WVU Design System Components" />>
  <r:comment><!-- NOTE: Blog articles use Schema.org's tags to structure your data & help with SEO: http://goo.gl/SKs4Qb --></r:comment>
  <article class="" itemscope="" itemprop="blogPost" itemtype="http://schema.org/BlogPosting">
    <r:if v1="{$blog_article_has_hero}" v2="1" op="=">
      <r:partial name="components/wvu-blog-article-hero" theme="University Relations: WVU Design System Components" />
      <r:set_var name="baseComponentName" value="blog-article" />
      <r:partial name="includes/wvu-component-variables" theme="University Relations: WVU Design System Components" />
    </r:if>
    <div class="container">
      <div class="row py-5">
        <div class="col-sm-8 col-md-6 mx-auto">
          <r:if v1="{$blog_article_has_hero}" v2="1" op="!=">
            <h1 id="<r:var name="componentName" />-label" itemprop="headline"><r:page:name /></h1>
          </r:if>
          <div itemprop="articleBody">
            <r:if v1="{page:template:name}" v2="{$templateNameComponent}" op="=">
              <r:yield name="{$componentMain}" />
            </r:if>
            <r:if v1="{page:template:name}" v2="{$templateNameComponent}" op="!=">
              <r:editable_region name="{$componentMain}" scope="{$componentScope}"><r:yield name="{$componentMain}" /></r:editable_region>
            </r:if>
          </div> <r:comment><!-- /.wvu-article__body --></r:comment>
        </div>
      </div>
    </div> <r:comment><!-- /.container --></r:comment>
  </article> <r:comment><!-- /.wvu-article --></r:comment>
  <aside class="py-5 border-top border-light">
    <div class="container wvu-z-index-content">
      <div class="row">
        <div class="col-sm-8 col-md-6 mx-auto">
          <div class="row">
            <div class="col-md-6">
              <h3>Related Articles</h3>
              <r:blog:articles limit="5" tags="{article:tags}" exclude_ids="{article:id}">
                <r:if_articles>
                  <ul>
                    <r:each>
                      <li><a href="<r:article:path />"><r:article:name /></a></li>
                    </r:each>
                  </ul>
                </r:if_articles>
              </r:blog:articles>
            </div>
            <div class="col-md-6">
              <h3>Archives</h3>
              <r:blog:archive:monthly ul_class="wvu-blog-archive" count_class="badge badge-wvu-neutral--dark-gray text-white" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </aside> <r:comment><!-- /.wvu-sidebar --></r:comment>
  <r:comment><!-- Need comments for Blog Articles? See https://disqus.com --></r:comment>
</<r:partial name="utilities/wvu-is-main-checker" theme="University Relations: WVU Design System Components" />><!-- End markup -->

<r:comment><!-- Pull in partial that allows user to edit classes for component in CleanSlate editor --></r:comment>
<r:if v1="{page:template:name}" v2="{$templateNameComponent}" op="!=">
  <r:partial name="includes/wvu-component-footer" theme="University Relations: WVU Design System Components" />
</r:if>
