<r:files:each labels="{$bgurl}" labels_match="all" limit="1" types="image" random="true">style="background-image: url(<r:if v1="{page:template:name}" v2="{$templateNameComponent}" op="="><r:site:domain /></r:if><r:file:image_url size="1780x1780" /><r:set_var name="bgalt"><r:file:alt_text /></r:set_var>)"</r:files:each>
