<r:comment><!-- Use this when looping through pages and displaying cards, featurettes, adverts, etc. It will change your layout based on the number. Use after the “descendants” and before “each” tag, then reference “columnCount” on your items. --></r:comment>
<r:set_var name="columnClasses">
  col-sm-6 col-md-3
</r:set_var>

<r:if v1="{$itemCount}" v2="2" op="<=">
  <r:set_var name="columnClasses">
    col-sm-6 col-md-3
  </r:set_var>
</r:if>
<r:if v1="{$itemCount}" v2="3" op="=">
  <r:set_var name="columnClasses">
    col-sm-6 col-md
  </r:set_var>
</r:if>
<r:if v1="{$itemCount}" v2="4" op="=">
  <r:set_var name="columnClasses">
    col-sm-6 col-md
  </r:set_var>
</r:if>
<r:if v1="{$itemCount}" v2="5" op="=">
  <r:set_var name="columnClasses">
    col-sm-6 col-md-4 col-lg-3
  </r:set_var>
</r:if>
<r:if v1="{$itemCount}" v2="6" op="=">
  <r:set_var name="columnClasses">
    col-sm-6 col-md-4
  </r:set_var>
</r:if>
<r:if v1="{$itemCount}" v2="9" op="=">
  <r:set_var name="columnClasses">
    col-sm-6 col-md-4
  </r:set_var>
</r:if>
