<r:if v1="{page:template:name}" v2="{$templateNameComponent}" op="=">
  <r:page:if_has_content_for region="{$itemComponentClassesRegionName}">
    <r:page:content name="{$itemComponentClassesRegionName}" />
  </r:page:if_has_content_for>
  <r:page:unless_has_content_for region="{$itemComponentClassesRegionName}">
    <r:yield name="{$defaultComponentClasses}" />
  </r:page:unless_has_content_for>
</r:if>
<r:if v1="{page:template:name}" v2="{$templateNameComponent}" op="!=">
  <r:page:if_has_content_for region="{$componentClasses}">
    <r:page:content name="{$componentClasses}" />
  </r:page:if_has_content_for>
  <r:page:unless_has_content_for region="{$componentClasses}">
    <r:yield name="{$defaultComponentClasses}" />
  </r:page:unless_has_content_for>
</r:if>
